// colors
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);
$white: hsl(0, 0%, 100%);

// fonts
$xl: 2rem;
$lg: 1.6rem;
$md: 1.2rem;
$sm: .9rem;
$xs: .5rem;

$alata: 'Alata', sans-serif;
$josefin: 'Josefin Sans', sans-serif;

$regular: 400;
$light: 300;

/* temp variables */
$border: 2px solid yellow;
