.work{
    padding-top: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;

    .container{
        position: relative;
        text-align: center;
    }

    .work__title{
        text-align: center;
        @media(min-width: 768px){
            text-align: left;
        }
    }

    .gallery{
        // padding: 1em 0;
        margin-top: 3em;
        @media(min-width: 768px){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 360px 360px 360px;
            gap: 2em;
        }
        @media(min-width: 960px){
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 360px 360px 360px;
        }
        .gallery__item{
            width: 100%;
            height: 9rem;
            padding: 1.5em;
            margin-bottom: 2em;
            display: flex;
            align-items: flex-end;
            background-size: cover;
            background-blend-mode: overlay;

            @media(min-width: 768px){
                height: auto;
                margin: 0;

                &:hover{
                    background-color: rgba(255,255,255,0.8);
                }

                &:hover .image-title{
                    color: #000;
                }
            }
            
            &.item1{
                background-image: url('../images/mobile/image-deep-earth.jpg'), linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
                @media(min-width: 768px){
                    background-image: url('../images/desktop/image-deep-earth.jpg'), linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
                }
            }
            &.item2{
                background-image: url('../images/mobile/image-night-arcade.jpg'), linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
                @media(min-width: 768px){
                    background-image: url('../images/desktop/image-night-arcade.jpg'), linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
                }
            }
            &.item3{
                background-image: url('../images/mobile/image-soccer-team.jpg'), linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
                @media(min-width: 768px){
                    background-image: url('../images/desktop/image-soccer-team.jpg'), linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
                }
            }
            &.item4{
                background-image: url('../images/mobile/image-grid.jpg'), linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
                @media(min-width: 768px){
                    background-image: url('../images/desktop/image-grid.jpg'), linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
                }
            }
            &.item5{
                background-image: url('../images/mobile/image-from-above.jpg'), linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
                @media(min-width: 768px){
                    background-image: url('../images/desktop/image-from-above.jpg'), linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
                }
            }
            &.item6{
                background-image: url('../images/mobile/image-pocket-borealis.jpg'), linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
                @media(min-width: 768px){
                    background-image: url('../images/desktop/image-pocket-borealis.jpg'), linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
                }
            }
            &.item7{
                background-image: url('../images/mobile/image-curiosity.jpg'), linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
                @media(min-width: 768px){
                    background-image: url('../images/desktop/image-curiosity.jpg'), linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
                }
            }
            &.item8{
                background-image: url('../images/mobile/image-fisheye.jpg'), linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
                @media(min-width: 768px){
                    background-image: url('../images/desktop/image-fisheye.jpg'), linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
                }
            }
        }
        .image-title{
            font-family: $josefin;
            font-size: $lg;
            color: $white;
            line-height: 1;
            text-align: left;
        }
    }
    .work__link{
        text-transform: uppercase;
        display: inline-block;
        color: #000;
        font-size: $sm;
        letter-spacing: 2.2px;
        padding: .8em 2em;
        border: 2px solid #000;
        // position: relative;
        // left: 50%;
        // transform: translateX(-50%);
        margin-bottom: 2.5em;

        @media(min-width: 768px){
            position: absolute;
            top: -10px;
            right: 0;
            width: 150px;
            transform: translateX(0);
        }

    }
}